@model LetsGoOut.ReadModel.Activity
           
@{
    var typeClass = Model.Type == 1 ? "food-activity" : (Model.Type == 2 ? "culture-activity" : "evening-activity");
}

    <div class="row">
        <div class="col-sm-5">
            <div class="col-md-6">
                <div style="text-align: right; font-weight: bold">
                    @Model.StartAt.ToString("HH:mm")
                </div>
                <div style="text-align: right; font-size: 9px">
                    @Model.Duration.ToString(@"h\:mm")
                </div>
                <div style="text-align: right; font-size: 9px">
                    @Html.ActionLink("Move", "Move", new { @Model.ActivityId })
                </div>
            </div>
            <div class="col-md-6 @typeClass" style="text-align: center; padding-top: 9px; padding-bottom: 9px">
                @Html.ActionLink(@Model.Name, "Edit", new { @Model.ActivityId }, new { @class = "activity-link" })
            </div>
        </div>
    </div>
